<div data-section="counter" class="counter-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="single-counter-box">
          <div class="counter-content">
            <h2 class="counter-title">Number #1</h2>
            <span class="counter-desc">Home Repair Service</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="single-counter-box">
          <div class="counter-content">
            <h2 class="counter">3480</h2>
            <span class="counter-plus">+</span>
            <span class="counter-desc">Project Completed</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="single-counter-box">
          <div class="counter-content">
            <h2 class="counter-title">100%</h2>
            <span class="counter-desc">Client Satisfaction Rate</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
