<div data-section="faq" class="faq-section">
  <div class="container">
    <div class="row faq-bg">
      <div class="col-lg-6">
        <div class="hendrio-section-title">
          <h4>Frequently Questions</h4>
          <h1>We're Ready to <span>Answer</span></h1>
          <h1 class="sections">Your Questions</h1>
          <p>Competently repurpose go forward benefits without goal-oriented to conveniently target business opportunities whereas proactive strea content via functional multidisciplinary</p>
          <div class="hendrio-button">
            <a href="/contact">Get An Estimate <i class="bi bi-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tab_container">
          <div id="tab1" class="tab_content">
            <ul class="accordion">
              <li>
                <a><span>How to Monetization of your Youtube Channel?</span></a>
                <p>Competently repurpose go forward benefits without-oriented conveniently target business opportunities whereas proactive strea content</p>
              </li>
              <li>
                <a><span>What Kinds of Business Channels?</span></a>
                <p>Competently repurpose go forward benefits without-oriented conveniently target business opportunities whereas proactive strea content</p>
              </li>
              <li>
                <a><span>How to Cleaning Your Basin Properly?</span></a>
                <p>Competently repurpose go forward benefits without-oriented conveniently target business opportunities whereas proactive strea content</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="faq-shape">
        <img src="/images/resource/faq.png" alt="">
      </div>
    </div>
  </div>
</div>
