<div data-section="process" class="process-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="hendrio-section-title text-center padding-lg">
          <h4>Work Process</h4>
          <h1>We Follow the <span>Process</span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-process-box upper">
          <div class="process-thumb">
            <img src="/images/resource/process1.png" alt="Booking Online">
            <div class="process-number"><span>01</span></div>
          </div>
          <div class="process-content">
            <h4 class="process-title">Booking Online</h4>
            <p class="process-desc">Competently repurpose forward conveniently target fixed</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-process-box">
          <div class="process-thumb">
            <img src="/images/resource/process2.png" alt="Confirmation">
            <div class="process-number"><span>02</span></div>
          </div>
          <div class="process-content">
            <h4 class="process-title">Confirmation</h4>
            <p class="process-desc">Competently repurpose forward conveniently target fixed</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-process-box">
          <div class="process-thumb">
            <img src="/images/resource/process3.png" alt="Estimate Details">
            <div class="process-number"><span>03</span></div>
          </div>
          <div class="process-content">
            <h4 class="process-title">Estimate Details</h4>
            <p class="process-desc">Competently repurpose forward conveniently target fixed</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-process-box">
          <div class="process-thumb">
            <img src="/images/resource/process4.png" alt="Complete Works">
            <div class="process-number">
              <span class="check-arrow"><i class="bi bi-check-lg"></i></span>
            </div>
          </div>
          <div class="process-content">
            <h4 class="process-title">Complete Works</h4>
            <p class="process-desc">Competently repurpose forward conveniently target fixed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
