<div data-section="team" class="team-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="hendrio-section-title text-center padding-lg white">
          <h4>Expert Team</h4>
          <h1>Meet Our <span>Expert</span></h1>
          <h1 class="sections">Team Members</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-team-box">
          <div class="team-thumb">
            <img src="https://res.cloudinary.com/don1auqxy/image/upload/v1772262630/templates/plumber/plumber/6502_dcx4mq.jpg" alt="Team Member">
            <div class="team-social-icon">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h4 class="team-title"><a href="#">John D. Alexon</a></h4>
            <span class="team-sector">Plumber</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-team-box">
          <div class="team-thumb">
            <img src="https://res.cloudinary.com/don1auqxy/image/upload/v1772260919/templates/plumber/plumber/156795_e7fdkl.jpg" alt="Team Member">
            <div class="team-social-icon">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h4 class="team-title"><a href="#">Sarah M. Johnson</a></h4>
            <span class="team-sector">Technician</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-team-box">
          <div class="team-thumb">
            <img src="https://res.cloudinary.com/don1auqxy/image/upload/v1772260919/templates/plumber/plumber/6502_lwffok.jpg" alt="Team Member">
            <div class="team-social-icon">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h4 class="team-title"><a href="#">Mike R. Davis</a></h4>
            <span class="team-sector">Supervisor</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-team-box">
          <div class="team-thumb">
            <img src="https://res.cloudinary.com/don1auqxy/image/upload/v1772260919/templates/plumber/plumber/72053_hzppu9.jpg" alt="Team Member">
            <div class="team-social-icon">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h4 class="team-title"><a href="#">Emily K. Wilson</a></h4>
            <span class="team-sector">Manager</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
