<div data-section="testimonials" class="testimonial-section">
  <div class="container">
    <div class="row testi-bg">
      <div class="col-lg-5 col-md-12">
        <div class="testimonial-thumb">
          <img src="/images/resource/testi.jpg" alt="Testimonials">
          <div class="testimonial-rating">
            <h4 class="counter">4.7</h4>
            <span>AVG Ratings</span>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="row">
          <div class="testmn-bg">
            <div class="testi-slider">
              <div class="col-lg-12">
                <div class="teastimonial-single-box">
                  <div class="testi-content">
                    <h4 class="testi-title">"Service is Very Professional & Clean"</h4>
                    <p class="testi-desc">Proactively scale web-enabled content without friendly testing procedures madelly Dynamically envisioneer stand-alone manufactured products vis progressive pro services. Globally envisioneer market-driven intellectual capital quality main conveniently disseminate ubiquitous</p>
                    <div class="user-info">
                      <div class="user-pic">
                        <img src="/images/resource/testi.png" alt="John D. Alexon">
                      </div>
                      <div class="user-name">
                        <h4>John D. Alexon</h4>
                        <span class="user-sector">CLEANER</span>
                      </div>
                    </div>
                    <div class="testi-rating">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
