---
import { siteConfig } from '../../data/siteConfig';
---

<div data-section="why-choose" class="why-choose-top-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="hendrio-section-title text-center white">
          <h4>Why Choose Us</h4>
          <h1>Some Reason for Choose <span>{siteConfig.businessName}</span></h1>
          <h1 class="sections">Plumbing Servicing</h1>
        </div>
        <div class="rs-video">
          <div class="animate-border">
            <a class="video-vemo-icon" href="#" data-video="https://www.youtube.com/watch?v=Wx48y_fOfiY">Play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="why-choose-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tab">
          <ul class="tabs">
            <li><a href="#"> <span>01.</span> Why Choose Us ?</a></li>
            <li><a href="#"> <span>02.</span> {siteConfig.businessName} Missions</a></li>
            <li><a href="#"> <span>03.</span> Mission & Vision</a></li>
          </ul>

          <div class="tab_content">
            <div class="tabs_item">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="tab-thumb">
                    <img src="https://res.cloudinary.com/don1auqxy/image/upload/v1772260919/templates/plumber/plumber/666_yphuqq.jpg" alt="Why Choose Us">
                    <div class="tb-icons">
                      <img src="/images/resource/tb-icon.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 tab-right">
                  <div class="hendrio-section-title">
                    <h4>Why Choose Us</h4>
                    <h1>Hire Best Plumbing <span>Service</span></h1>
                    <h1 class="sections">For Great Work</h1>
                    <p>Competently repurpose go forward benefits without goal-oriented ROI the conveniently target business opportunities whereas proactive</p>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="about-item-list">
                        <ul>
                          <li><i class="bi bi-check-circle-fill"></i> Repairing Roofing and Door</li>
                          <li><i class="bi bi-check-circle-fill"></i> Floor & Window Repair</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="about-item-list">
                        <ul>
                          <li><i class="bi bi-check-circle-fill"></i> Satisfaction Guarantee</li>
                          <li><i class="bi bi-check-circle-fill"></i> 24/7 Daily Live Support</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="hendrio-button">
                    <a href="/contact">Get An Estimate <i class="bi bi-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tabs_item">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="tab-thumb">
                    <img src="https://res.cloudinary.com/don1auqxy/image/upload/v1772260919/templates/plumber/plumber/666_yphuqq.jpg" alt="Our Missions">
                    <div class="tb-icons">
                      <img src="/images/resource/tb-icon.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 tab-right">
                  <div class="hendrio-section-title">
                    <h4>{siteConfig.businessName} Missions</h4>
                    <h1>Hire Best Plumbing <span>Service</span></h1>
                    <h1 class="sections">For Great Work</h1>
                    <p>Competently repurpose go forward benefits without goal-oriented ROI the conveniently target business opportunities whereas proactive</p>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="about-item-list">
                        <ul>
                          <li><i class="bi bi-check-circle-fill"></i> Repairing Roofing and Door</li>
                          <li><i class="bi bi-check-circle-fill"></i> Floor & Window Repair</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="about-item-list">
                        <ul>
                          <li><i class="bi bi-check-circle-fill"></i> Satisfaction Guarantee</li>
                          <li><i class="bi bi-check-circle-fill"></i> 24/7 Daily Live Support</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="hendrio-button">
                    <a href="/contact">Get An Estimate <i class="bi bi-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tabs_item">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="tab-thumb">
                    <img src="https://res.cloudinary.com/don1auqxy/image/upload/v1772260919/templates/plumber/plumber/666_yphuqq.jpg" alt="Mission & Vision">
                    <div class="tb-icons">
                      <img src="/images/resource/tb-icon.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 tab-right">
                  <div class="hendrio-section-title">
                    <h4>Mission & Vision</h4>
                    <h1>Hire Best Plumbing <span>Service</span></h1>
                    <h1 class="sections">For Great Work</h1>
                    <p>Competently repurpose go forward benefits without goal-oriented ROI the conveniently target business opportunities whereas proactive</p>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="about-item-list">
                        <ul>
                          <li><i class="bi bi-check-circle-fill"></i> Repairing Roofing and Door</li>
                          <li><i class="bi bi-check-circle-fill"></i> Floor & Window Repair</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="about-item-list">
                        <ul>
                          <li><i class="bi bi-check-circle-fill"></i> Satisfaction Guarantee</li>
                          <li><i class="bi bi-check-circle-fill"></i> 24/7 Daily Live Support</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="hendrio-button">
                    <a href="/contact">Get An Estimate <i class="bi bi-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
