---
import BaseLayout from '../layouts/BaseLayout.astro';
import Breadcrumb from '../components/sections/Breadcrumb.astro';
---

<BaseLayout title="FAQ - Hendrio Plumbing">
  <Breadcrumb title="FAQ" />

  <div data-section="faq-page" class="faq-page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hendrio-section-title text-center padding-lg">
            <h4>FAQ</h4>
            <h1>Frequently Asked <span>Questions</span></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="tab_container">
            <div class="tab_content">
              <ul class="accordion">
                <li>
                  <a><span>How to Repairing Home Roof Properly?</span></a>
                  <p>Competently repurpose go forward benefits without goal-oriented to conveniently target business opportunities whereas proactive streamlined content via functional multidisciplinary scenarios.</p>
                </li>
                <li>
                  <a><span>What kinds of work Can A Handy Do?</span></a>
                  <p>Competently repurpose go forward benefits without goal-oriented to conveniently target business opportunities whereas proactive streamlined content via functional multidisciplinary scenarios.</p>
                </li>
                <li>
                  <a><span>Which is the Best Repairing Tools?</span></a>
                  <p>Competently repurpose go forward benefits without goal-oriented to conveniently target business opportunities whereas proactive streamlined content via functional multidisciplinary scenarios.</p>
                </li>
                <li>
                  <a><span>Do You Have Custom Services?</span></a>
                  <p>Competently repurpose go forward benefits without goal-oriented to conveniently target business opportunities whereas proactive streamlined content via functional multidisciplinary scenarios.</p>
                </li>
                <li>
                  <a><span>Have you any Modern Equipment?</span></a>
                  <p>Competently repurpose go forward benefits without goal-oriented to conveniently target business opportunities whereas proactive streamlined content via functional multidisciplinary scenarios.</p>
                </li>
                <li>
                  <a><span>How to Clean Home Inside Properly?</span></a>
                  <p>Competently repurpose go forward benefits without goal-oriented to conveniently target business opportunities whereas proactive streamlined content via functional multidisciplinary scenarios.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
