---
import BaseLayout from '../layouts/BaseLayout.astro';
import Breadcrumb from '../components/sections/Breadcrumb.astro';
---

<BaseLayout title="Team - Hendrio Plumbing">
  <Breadcrumb title="Team" />

  <div data-section="team-page" class="team-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="hendrio-section-title text-center padding-lg">
            <h4>Expert Team</h4>
            <h1>Meet Our <span>Expert</span></h1>
            <h1 class="sections">Team Members</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team1.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">Tina E. Rose</a></h4>
              <span class="team-sector">MH Manager</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team2.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">John D. Alexon</a></h4>
              <span class="team-sector">Carpenter</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team3.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">Mark B. Steward</a></h4>
              <span class="team-sector">CEO</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team4.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">Lisa K. Miller</a></h4>
              <span class="team-sector">Plumber</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team5.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">James R. Wilson</a></h4>
              <span class="team-sector">Technician</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team6.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">Anna D. Garcia</a></h4>
              <span class="team-sector">Designer</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team7.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">Robert M. Clark</a></h4>
              <span class="team-sector">Supervisor</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team-box">
            <div class="team-thumb">
              <img src="/images/resource/team1.png" alt="Team Member">
              <div class="team-social-icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-content">
              <h4 class="team-title"><a href="#">Emily J. Brown</a></h4>
              <span class="team-sector">Manager</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
